.DS_Store
.idea/
*.iml
logs/**
docker/aicrm/logs/**
*.log
test
target
*/target/**
frontend/node_modules
frontend/dist
frontend/tsconfig.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
uploads/**
outputs/**
backend/src/main/resources/public/
